// Fuentes
$fuente_principal: "Fraunces", sans-serif;
$fuente_secundaria: "Montserrat", sans-serif;

//Tamaño Media Queries 
$telefono: 375px;
$desktop: 1140px;

//Colores

$green500: hsl(158, 36%, 37%);
$green700: hsl(158, 42%, 18%);

$black: hsl(212, 21%, 14%);
$grey:  hsl(228, 12%, 48%);
$cream:  hsl(30, 38%, 92%);
$white: hsl(0, 0%, 100%);

//Fuentes
$regular : 500;
$bold: 700;